@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
router-outlet + * {
  margin-left: 230px;
  display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
